body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: #0077b6;
  color: white;
  padding: 15px 30px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}


 

.stats {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: #f0f0f0;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.card {
  margin: 15px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* makes it responsive */
}

.card {
  text-align: center;
}


.adventure-images img {
  width: 32%;
  margin: 1%;
  height: 200px;
  object-fit: cover;
}

footer {
  background: #0077b6;
  color: white;
  text-align: center;
  padding: 30px;
}

